body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    transition: background-color 0.5s ease;
}

.title {
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    background-color: #ffffff;
}

.grid-section {
    background-color: #00bfff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.grid-section:hover {
    background-color: #0088ff;
    border-color: #fff;
}

.grid-section:active {
    background-color: #0055ff;
}

.restartBtn {
    margin-top: 20px;
}

.restartBtn button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #029aff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.restartBtn button:hover {
    background-color: #005977;
}